<section class="block container">
    <header class="block__header">
        <h2>host on the cloud keep going</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quidem odio fuga officiis voluptate
            maxime quia perspiciatis eligendi ipsam? Esse incidunt assumenda sit veritatis doloremque nisi
            obcaecati aperiam est odit.</p>
    </header>
    <div style="display: grid; " class="grid">

        <!-- First grid item -->

        <article class="featur">
            <div class=" featur__contant">

                <span class="icon__container">
                    <span class="icon icon__container">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </span>
                <h3 class="featur__heading">easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatum iusto sequi
                    ratione
                    ducimus necessitatibus minus veritatis vero ut exercitationem eum officiis repellat dolores
                    voluptate, fugit explicabo, architecto aut ad!</p>
            </div>
        </article>

        <!-- Second grid item -->
        <div>
            <img class="featur__image" src="./Imeges/testimonials.jpeg" alt="">
        </div>

    </div>
</section>