<div>
    <section class="block container block-plans">
        <div class="grid-container">

            <div class="plan">
                <div class="card card--primary">
                    <header class="card__header">
                        <h3 class="plan__name">Entry</h3>
                        <span class="plan__price">$14</span>
                        <span class="plan__billing-cycle">/month</span>
                        <span class="badge badge--primary badge--small">10% off</span>
                        <span class="plan__discription">East start on the cloud</span>
                    </header>
                    <div class="card__body">
                        <ul class="list  list--tick">
                            <li class="list__items">ultimeted website</li>
                            <li class="list__items">ultimeted bandwidth</li>
                            <li class="list__items">100gb ss storeg</li>
                            <li class="list__items">3gb ram</li>
                        </ul>
                        <button class="btn btn-outline btn-black">Buy now</button>
                    </div>
                </div>
            </div>
            <div class="plan plan--papular  ">
                <div class="card card--secondary">
                    <header class="card__header">
                        <h3 class="plan__name">Entry</h3>
                        <span class="plan__price">$14</span>
                        <span class="plan__billing-cycle">/month</span>
                        <span class="badge badge--secondary badge--small">10% off</span>
                        <span class="plan__discription">East start on the cloud</span>
                    </header>

                    <div class="card__body">
                        <ul class="list  list--tick">
                            <li class="list__items">ultimeted website</li>
                            <li class="list__items">ultimeted bandwidth</li>
                            <li class="list__items">100gb ss storeg</li>
                            <li class="list__items">3gb ram</li>
                        </ul>
                        <button class="btn btn-outline btn-black">Buy now</button>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="card card--primary">
                    <header class="card__header">
                        <h3 class="plan__name">Entry</h3>
                        <span class="plan__price">$14</span>
                        <span class="plan__billing-cycle">/month</span>
                        <span class="badge badge--primary badge--small">10% off</span>
                        <span class="plan__discription">East start on the cloud</span>
                    </header>
                    <div class="card__body">
                        <ul class="list  list--tick">
                            <li class="list__items">ultimeted website</li>
                            <li class="list__items">ultimeted bandwidth</li>
                            <li class="list__items">100gb ss storeg</li>
                            <li class="list__items">3gb ram</li>
                        </ul>
                        <button class="btn btn-outline btn-black">Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>