<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="collapsible collapsible__expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__hedding">item1</h2>
            <span class="icon__container">
                <div class="icon icon__white collapssible__cherva">
                    <!-- <use xlink:href="images/sprite.svg#wordpress">navya--</use> -->
                    <i class="fa-solid fa-house"></i>
                </div>

            </span>
        </header>
    </div>
    <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quidem numquam id mollitia similique. Quia
        illum dicta id dolor eos sunt delectus. Rem neque consectetur voluptates, cupiditate obcaecati sit dolore.
    </div>
    <script src="js/main.js"></script>

</body>

</html>