<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="block block--dark footer ">
        <section class="collapsible collapsible__expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__hedding footer_heading">item1</h2>
                <span class="icon__container">
                    <div class="icon icon__white collapssible__cherva">
                        <!-- <use xlink:href="images/sprite.svg#wordpress">navya--</use> -->
                        <i class="fa-solid fa-house"></i>
                    </div>

                </span>
            </header>
            <div class="collapsible__content">
                <ul class=" list nav__list collapsible__content">
                    <li class="nav__item"><a href="#">hosting</a></li>
                    <li class="nav__item"><a href="#">domine</a></li>
                    <li class="nav__item"><a href="#">vps</a></li>
                    <li class="nav__item"><a href="#">hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__hedding footer_heading">item2</h2>
                <span class="icon__container">
                    <div class="icon icon__white collapssible__cherva">
                        <!-- <use xlink:href="images/sprite.svg#wordpress">navya--</use> -->
                        <i class="fa-solid fa-house"></i>
                    </div>

                </span>
            </header>
            <div class="collapsible__content">
                <ul class=" list nav__list collapsible__content">
                    <li class="nav__item"><a href="#">hosting</a></li>
                    <li class="nav__item"><a href="#">domine</a></li>
                    <li class="nav__item"><a href="#">vps</a></li>
                    <li class="nav__item"><a href="#">hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section ">
            <header class="collapsible__header">
                <h2 class="collapsible__hedding footer_heading">item3</h2>
                <span class="icon__container">
                    <div class="icon icon__white collapssible__cherva">
                        <!-- <use xlink:href="images/sprite.svg#wordpress">navya--</use> -->
                        <i class="fa-solid fa-house"></i>
                    </div>

                </span>
            </header>
            <div class="collapsible__content">
                <ul class=" list nav__list collapsible__content">
                    <li class="nav__item"><a href="#">hosting</a></li>
                    <li class="nav__item"><a href="#">domine</a></li>
                    <li class="nav__item"><a href="#">vps</a></li>
                    <li class="nav__item"><a href="#">hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="" alt="">
            <p class="footer__capyright">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam pariatur,
                obcaecati magni ab necessitatibus corrupti modi quam. Iste, suscipit magni facere nobis ipsam laudantium
                necessitatibus delectus tenetur asperiores aut deleniti?</p>
        </section>
    </footer>

</body>

</html>