<section class="black block--dark block--skewed-left hero">

    <div class=" grid-container grid--1x2">
        <header class=" black__header hero__contant">
            <h1 class="block__heading">cloud hosting </h1>
            <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
                dolores sapiente
                tempore
                quasi obcaecati consequuntur quibusdam placeat pariatur. Beatae deleniti nam debitis illum aut
                rem ab consequuntur id labore iure.</p>
            <a href="#" class="btn btn-accent btn-streched">Get start</a>
        </header>
        <img class="hero__image" src="./Imeges/testimonials.jpeg">
    </div>

</section>