<div>
    <nav class="nav collasible">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <div class="icon icon--white nav__taggler">
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class=" list nav__list collapsible__content">
            <li class="nav__item"><a href="#">hosting</a></li>
            <li class="nav__item"><a href="#">domine</a></li>
            <li class="nav__item"><a href="#">vps</a></li>
            <li class="nav__item"><a href="#">hosting</a></li>
        </ul>
    </nav>
</div>

<div>