<section class="block block--dark black--skewed-right block-showcase">
    <header class="block__header">
        <h2>use friendlu control panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <img class="block-showcase__image" src="./Imeges/testimonials.jpeg" alt="">
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="media__body">
                        <h3 class="media-title">start and manege updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel consectetur
                            obcaecati quam, esse doloremque consequuntur nesciunt nemo blanditiis quo laborum
                            exercitationem, laboriosam tenetur possimus cum ea recusandae beatae quis.</p>
                    </div>

            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="media__body">
                        <h3 class="media-title">start and manege updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel consectetur
                            obcaecati quam, esse doloremque consequuntur nesciunt nemo blanditiis quo laborum
                            exercitationem, laboriosam tenetur possimus cum ea recusandae beatae quis.</p>
                    </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="media__body">
                        <h3 class="media-title">start and manege updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel consectetur
                            obcaecati quam, esse doloremque consequuntur nesciunt nemo blanditiis quo laborum
                            exercitationem, laboriosam tenetur possimus cum ea recusandae beatae quis.</p>
                    </div>
            </li>
        </ul>
    </div>
</section>