<section class="block">
    <header class="block__header">
        <h2>What castemer says</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla fugit consequuntur cumque quibusdam quasi
            adipisci fugiat in nemo. Repellat repudiandae assumenda eligendi unde eum ut officia recusandae
            corrupti, quasi eius.</p>
    </header>
    <div class="container">
        <div class="card testimonials">
            <div class="grid grid--1*2">
                <div class="testimonials__image">
                    <img src="../Imeges/testimonials.jpeg" alt="happy smilling">
                    <span class="icon_container icon_container--accent">
                        <span class="icon icon--white icon--small">
                            <use xlink:href=""></use> navya
                        </span>
                    </span>

                </div>
                <blackquote class="quote">
                    <p class="quote__text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, voluptates enim ducimus
                        magnam rerum fugiat, pariatur culpa officiis repudiandae nulla, obcaecati debitis eveniet
                        aut voluptatem! Aut magni necessitatibus voluptatem aliquam.
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">

                            </div>
                            <div class="media__body">
                                <h3 class="media-title quote__author">jone smith</h3>
                                <p class="quote__organization">ABC company</p>
                            </div>

                        </div>
                    </footer>
                </blackquote>

            </div>
        </div>
    </div>
</section>